@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@700&display=swap');

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
/*html,
body,
.view {
  height: 100%; 
}*/
html,body,header,.carousel {
  height: 100vh;
  width: 100%;
}
:root{
  --morado: #2C0444;
  --azulClaro: #5BD3FB;
  --purple: #2F0543;
  --lightPurple: #BB3DF5;
  --pink:#A8054E; 
  --darkPink: #700836;
  --lightPink: #ED5FB4; 
  --skyblue: #5BD3FB; 
  --blue:  #023C50; 
  --lightYellow: #FFD23F ; 
  --yellow: #F5A700 ; 
  --offBlack: #0a0a0a; 
  --azure: #346BB3; 
  --lightBlue: #5FD0F8;
  --darkBlue: #366BB5;
  --purple: #2F0543;
  --white : #FFFFFF;
  --lightGreen: #00EEA1;
  --turquoise: #00E0D6;
  --fontSize: 14px;
  --offBlack: #0a0a0a; 
}
h1{
  font-family: 'Ubuntu', sans-serif;
}
p, a, h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; 
  } 
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; 
  } 
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

  .top-nav-collapse {
    background-color: #2C0444  ; 
  }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2C0444;  
    width: 100%;
  } 
}

/*Button del navbar*/
.unete-btn{
  color: white;
  background-color: none ;
  border: 2px solid white;
  transition: transform .2s;
  margin: 0;
  border-radius: 25px;
}
.unete-btn:hover{
  color: white;
  background-color: #5BD3FB;
  border: none;
  transform: scale(.99)
}
.btn{
  border-radius: 25px;
}

/*Banner*/ 
.section-two{
  background: linear-gradient(-45deg, #015b79,#130179, #610179, #79014b); 
  background-size: 400% 400%;
  padding: 150px 300px;
  height: 100vh;
  animation: change 10s ease-in-out infinite;
} 
/*background animation*/
@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 50% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

@media (max-width: 994px) {
  .section-two{
    padding: 100px 100px;
  }
}

/*Chapter Days count*/
#countDownSection{
  background-color: #0a0a0a;
  color: white;
}

/*Batch Student Chapter Excelence award */
.acm-batch{
  transition: transform .4s;
}
.acm-batch:hover{
  transform: scale(1.1);
}

/*Logo Lupa en Quienes somos*/
.logo{
  transition: transform .4s;
}

.logo:hover{
  transform: scale(1.05);
}

/*Quienes somos*/
#acerca-de{
  background-color: white;
}
.card-acerca{
  cursor: pointer;
  width: 300px;
  height: 250px;
}

.front-acerca, .back-acerca{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .4s linear;
  box-shadow: 2px 2px 10px 0.5px rgba(0, 0, 0, 0.2);
}
.front-acerca{
  color: white;
  border: 2px solid var(--darkPink);
  transform: perspective(600px) rotateY(0deg);
  border-radius: 5px 5px 5px 5px;
  
}
.back-acerca{
  background-color: none;
  transform: perspective(600px) rotateY(180deg);
  border-radius: 5px 5px 5px 5px;
  
}
.back-acerca-content{
  color: white;
  width: 100%;
}

.card-acerca:hover > .front-acerca{
  transform: perspective(600px) rotateY(-180deg);
}

.card-acerca:hover > .back-acerca{
  transform: perspective(600px) rotateY(0deg);
}

#acerca-de{
  background-color: white;
}
/*Nosotras && visiónn*/
.acerda-back-one, .acerda-back-four{
  background-image: linear-gradient(180deg, var(--lightPurple)5%, var(--purple)90%);
}
.acerda-front-one, .acerda-front-four{
  background-color: var(--purple);
  color: white;
  border: 2px solid var(--purple);
}

/*acm && misión*/
.acerda-back-three, .acerda-back-two{
  background-image: linear-gradient(180deg, var(--lightPink)5%, var(--pink)90%); 
}
.acerda-front-three, .acerda-front-two{
  color: white;
  background-color: var(--pink);
  border: 2px solid var(--pink);
}

/*Actividad Tress Cartas*/

.section-cards{
  background-image:  linear-gradient(180deg, var(--purple)5%, var(--lightPurple)90%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-card{
  background-color: #0a0a0a;
  padding-bottom: 20vh ;
  transition: transform .4s;
}

.info-card:hover{
  transform: scale(1.03);
}

.info-one:hover{
  background-image: linear-gradient(180deg, var(--skyblue)5%, var(--blue)90%); 
}

.info-two:hover{
  background-image: linear-gradient(180deg, var(--pink)5%, var(--darkPink)90%); 
}

.info-three:hover{
  background-image: linear-gradient(180deg, var(--lightYellow)5%, var(--yellow)90%);
}

.info-title{
  font-size: 110px;
  font-weight: 900;
  color: white;
}
.info-button{
  color: black;
  background-color: white;
  font-weight: 500;
}
.info-button:hover{
  background-color: var(--lightYellow);
  color: black;
}
.info-mas{
  color: white;
}
.info-mas a{
  color: white
}
.info-mas a:hover{
  color: white;
  text-decoration: underline;
}

/*Como trabajamos*/

#trabajammosDesc{
  font-weight: 300;
}
/*Proyectos Carrusel*/
#proyectos{
  background-color: white ;
}

@media (max-width: 990px) {
  #proyectos{
    display: none;
  }
}

/*Proyectos Carrusel*/

#carouselExampleIndicators{
  height: 50vh;
  width: 100vw;
}
.carousel-control-next{
  width: 25px;
  justify-content: right;
  color: black; 
  margin-right: -20px;
}
.carousel-control-prev{
  width: 25px;
  justify-content: left;
  color: black; 
  margin-left: -20px;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
  opacity: 50;
  color: black;
}
.carousel-indicators li{
  color: #346BB3; 
  background-color: #346BB3;
}
.carousel-indicators li:active{
  color: black;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -40px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.carousel-inner{
  height: 100vh;
}

.cards-wrapper{
  align-content: center;
}

/*Width of cards*/
.row-5 {
  max-width: calc(100vw - 200px);
  align-content: center;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.row-6 {
  max-width: calc(100vw - 200px);
  align-content: center;
  margin: 20px auto; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

/*Cartas Proyectos*/
.card-proy {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem; 
  border: none;
  align-content: center;
}

  /*Card transitions*/
.card_side {
    height: 20rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 0rem 0.3rem var(--lightBlue);
}

.card_side-back {
    transform: rotateY(180deg); 
}

.card-proy:hover .card_side-front {
    transform: rotateY(-180deg); 
}

.card-proy:hover .card_side-back {
    transform: rotateY(0); 
}

/*Color of cards*/
.card_side-front {
  background-color: white; 
  border-radius: 5px 5px 5px 5px;
}
.card_side-back {
  background-image: linear-gradient(to right bottom, var(--purple), var(--turquoise)); 
  border-radius: 5px 5px 5px 5px;
}

    /*Title of cards*/
.card_title {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--purple);
  font-weight: 50;
  position: absolute;
  text-align:center;
  top: 6rem;
  width: 100%;
  padding: 20px;
  font-weight: 500;
  line-height: 25px;
}


/*Back text*/
.card_req {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.card_detail-box {
  color: #fff;
  text-align: center;
  width: 100%;
}
.card_details {
  font-size: 1rem; 
  padding: 0px 15px;
  margin-bottom: 0px;
}

/*Proyectos Movil*/
@media (min-width: 990px) {
  #trabajamosMobil{
    display: none;
  }
}

/*Preguntas Frecuentes*/

.qya{
  background: linear-gradient(var(--lightBlue), var(--darkBlue));
  display: grid;
  justify-content: center;
  align-content: center;
}

.wrapper{
  background: var(--white);
  border-radius: 25px 25px 25px 25px;
  height: 700px;
  width: 920px;
  display: grid;
  background-image: url("../img/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: 1260% 65%;
  align-content: center;
}

.answer{
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.2rem;
  color: var(--black);
}

.active i {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
  color: var(--darkBlue);
}

.active > .question > .question__title {
  color: var(--darkBlue);
  font-weight: bold;
}

.accordion__wrapper{
  margin: 60px;
  display: flex;
  flex-direction: column;
}

.accordion__questions{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question__answer__accordion{
  width: 100%;
  border-bottom: 1px solid var(--purple);
}

.title__accordion{
  font-size: 2.3rem;
  margin-top: 0px;
}

.question__title{
  font-size: 1rem;
  font-weight: 1000;
  margin:1.4rem 0rem;
  color: var(--purple); 
}


.question{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  color: var(--purple);
}

.question:hover, .question__title:hover{
  color: var(--darkBlue); 
}

.question i {
  align-self: center;
}


/* Fix image background in all medias */

/* Medium screen */
@media(max-width:1070px){
  .wrapper{
      width: 750px;
      padding: 1rem;
      height: 730px;
      background-image: url("../img/bg-pattern-desktop.svg");
      background-repeat: no-repeat;
      background-position: 300% 50%;
      align-content: center;
  }
  .accordion__wrapper {
      margin-top: 0px;
      margin-bottom: 0px;
      align-content: center;
  }

}

/* Small screen */
@media(max-width:800px){
  .wrapper{
      width: 600px;
      position: relative;
      padding: 1rem;
      height: 730px;
      background-image: url("../img/bg-pattern-desktop.svg");
      background-repeat: no-repeat;
      background-position: 200% 40%;
      align-content: center;
  }
  .accordion__wrapper {
      margin: 0px 40px;
      align-content: center;
  }

}

/* Big mobile phone */
@media(max-width:650px){

  .wrapper{
    width: 350px;
    position: relative;
    padding: 0.5rem;
    height:100%;
    margin: 20px 20px;
    background-image: url("../img/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 120% 40%;
      
  }
  .accordion__wrapper {
    margin: -45px -45px;
    align-content: center;
  }
  
}

/* Small mobile phone */
@media(max-width:350px){

  .wrapper{
      width: 270px;
      position: relative;
      padding: 0.5rem;
      height:100%;
      margin: 20px 0px;
      background-image: url("../img/bg-pattern-desktop.svg");
      background-repeat: no-repeat;
      background-position: 115% 40%;
      
  }
  .accordion__wrapper {
      margin: 10px 10px;
      align-content: center;
  }
  
}

/*FOOTER*/

.footer-options
{
  background-color:var(--offBlack);
  padding-top: 1px;
  color: white; 
}

.newsletter{

    margin-right: 190px;
}

.footer-text a{
    color: white;
}

.footer-options a:hover{
  color: white;
  border-bottom: 2px solid white;
}

.hr-foot{
  border: 1px solid var(--skyblue);
  border-radius: 2px;
}

@media (max-width: 950px) {
  #footerWeb{
    display: none;
  }
}

@media (min-width: 950px) {
  #Footer-Mobil{
    display: none;
  }
}

/*Button animation-transitions (optional)*/
.btn-send{
  color: black;
  font-weight: 500;
}
.btn-send-animated {
 animation: fadeInUp .5s ease-out;
 animation-fill-mode: backwards; }

.btn-send:link, .btn-send:visited {
 text-transform: uppercase;
 padding: 1.5rem 5rem;
 transition: all .2s;
 color: initial;
 position: relative;
 font-size: 1.6rem; 
 margin-bottom: -35rem;
 color: black;
}

.btn-send:hover {
 transform: translateY(-3px);
 box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
 background-color: var(--lightYellow);
}

.btn-send:active {
 transform: translateY(-1px);
 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-send::after {
 content: '';
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 10rem;
 position: absolute;
 left: 0;
 top: 0;
 z-index: -1;
 transition: all .2s; }

.btn-send::after {
 background: #fff; }

.btn-send:hover::after {
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0; }

.btn-send {
 background-color: #fff;
 border-radius: 10rem; }

.text-center {
 text-align: center; 
}

.btn-media{
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.1);
  background-color: var(--morado);
  border: none;
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 20px;
  text-align: center;
}

.btn-media:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
  background-color: var(--lightPurple);
}
 
.btn-media:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-mediaft{
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.1);
  background-color: var(--azulClaro);
  border: none;
  width: 40px;
  height: 40px;
  padding: 5px 6px;
  font-size: 20px;
  border-radius: 25px;
  outline: none;
  text-align: center;
}

.btn-mediaft:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
  background-color: var(--blue);
}

.btn-mediaft:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.form-control{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  outline: none;
}
.form-control:focus{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline:none ;
}

/*Control*/
input  #inputName .form-control{
  background: none !important;
}

label{
  outline:none ;
}

/*Contact Form*/

.contact-section{
  padding: 60px;
}

.cont-form{
  background-color: var(--skyblue);
  padding: 20px;
  border: 2px solid var(--skyblue); 
  border-radius: 5px 5px 5px 5px;
  color: white;
  height: 100%;
}

.footer-copyright{
  margin-top: -30px;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


